body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

p{
    text-align: justify;
    font-family: fantasy;
}

a:hover {
    background-color: #ff21ff;
}

