body {
    font-family: Arial, sans-serif;
    background-color: #fff0f5;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

h2 {
    text-align: left;
    font-family: Arial, sans-serif;
    font-size: 20px;
}

p{
    text-align: justify;
    font-family: fantasy;
}

a:hover {
    background-color: #ff21ff;
}

